{% extends 'doctor/base.html' %}


{% block content %}

    {% if is_found == False %}
        <p>{{ error }}</p>

    {% elif is_valid == True %}
        <p>{{ result }}</p>

    {% else %}
        <p>{{ error }}</p>

    {% endif %}

<form method="POST">

    <input type="text" name="username" placeholder="enter your username">
    <input type="text" name="password" placeholder="enter your new password">

    <input type="submit" value="Submit">


    {% csrf_token %}

</form>


{% endblock content %}